@{
    ViewBag.SearchPlaceholder = "角色名称或编号";
    Layout = "~/Views/Shared/_IndexTopPanel.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemManage/Role/GetGridJson",
            height: $(window).height() - 96,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '角色名称', name: 'F_FullName', width: 150, align: 'left' },
                { label: '角色编号', name: 'F_EnCode', width: 150, align: 'left' },
                {
                    label: '角色类型', name: 'F_Type', width: 80, align: 'left',
                    formatter: function (cellvalue) {
                        return top.clients.dataItems["RoleType"][cellvalue] == undefined ? "" : top.clients.dataItems["RoleType"][cellvalue]
                    }
                },
                {
                    label: '归属机构', name: 'F_OrganizeId', width: 150, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                    }
                },
                {
                    label: '创建时间', name: 'F_CreatorTime', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "有效", name: "F_EnabledMark", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                { label: '备注', name: 'F_Description', width: 300, align: 'left' }
            ]
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add(ele) {
        $.modalOpen({
            id: "Form",
            title: "新增角色",
            url: `${$(ele).attr("data-url")}`,
            width: "550px",
            height: "570px",
            btn: null
        });
    }
    function btn_edit(ele) {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Form",
            title: "修改角色",
            url: `${$(ele).attr("data-url")}?keyValue=${keyValue}`,
            width: "550px",
            height: "570px",
            btn: null
        });
    }
    function btn_delete(ele) {
        $.deleteForm({
            url: `${$(ele).attr("data-url")}`,
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details(ele) {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看角色",
            url: `${$(ele).attr("data-url")}?keyValue=${keyValue}`,
            width: "550px",
            height: "620px",
            btn: null,
        });
    }
</script>


<div class="gridPanel">
    <table id="gridList"></table>
</div>
