@{
    ViewBag.SearchPlaceholder = "模块名称";
    Layout = "~/Views/Shared/_IndexTopPanel.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            treeGrid: true,
            treeGridModel: "adjacency",
            ExpandColumn: "F_UrlAddress",
            url: "/SystemManage/Module/GetTreeGridJson",
            height: $(window).height() - 96,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '名称', name: 'F_FullName', width: 200, align: 'left' },
                { label: '连接', name: 'F_UrlAddress', width: 260, align: 'left' },
                {
                    label: '目标', name: 'F_Target', width: 80, align: 'center',
                    formatter: function (cellvalue) {
                        if (cellvalue == "expand") {
                            return "无页面";
                        } else if (cellvalue == "iframe") {
                            return "框架页";
                        } else if (cellvalue == "open") {
                            return "弹出页";
                        } else if (cellvalue == "blank") {
                            return "新窗口";
                        }
                    }
                },
                {
                    label: "菜单", name: "F_IsMenu", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: "展开", name: "F_IsExpand", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: "公共", name: "F_IsPublic", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: "有效", name: "F_EnabledMark", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                { label: '介绍', name: 'F_Description', width: 300, align: 'left' }
            ]
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add(ele) {
        $.modalOpen({
            id: "Form",
            title: "新增菜单",
            url: `${$(ele).attr("data-url")}`,
            width: "700px",
            height: "440px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit(ele) {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Form",
            title: "修改菜单",
            url: `${$(ele).attr("data-url")}?keyValue=${keyValue}`,
            width: "700px",
            height: "440px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete(ele) {
        $.deleteForm({
            url: `${$(ele).attr("data-url")}`,
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details(ele) {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看菜单",
            url: `${$(ele).attr("data-url")}?keyValue=${keyValue}`,
            width: "700px",
            height: "490px",
            btn: null,
        });
    }
    function btn_modulebutton(ele) {
        var moduleId = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "modulebutton",
            title: "系统按钮",
            url: `${$(ele).attr("data-url")}?moduleId=${moduleId}`,
            width: "950px",
            height: "600px",
            btn: null,
        });
    }
</script>


<div class="gridPanel">
    <table id="gridList"></table>
</div>
